<head>
    <link rel="stylesheet" href="./css/forms.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/2.0.1/spinkit.min.css" integrity="sha512-kRYkjiYH/VXxoiaDK2oGNMKIi8VQVfie1lkYGX3kmfzWNR2kfaF5ze0885W3/eE6lIiURBsZA91M/WNvCajHMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="login-block" class="vw-100 my-5">
        <div class="form-bounds bg-white mx-auto border p-4 container-fluid">
            <h2 class="text-center mb-2">Login</h2>
            <button class="btn btn-close close-button" aria-label="Close" onclick='closeLoginForm();'></button>
            <form id="login-form">
                <div class="form-group mb-2">
                    <label for="username-field">Username</label>
                    <input type="text" class="form-control" id="l-username-field" aria-describedby="username-tooltip" placeholder="Enter Username" required>
                </div>
                <div class="form-group mb-2">
                    <label for="password-field">Password</label>
                    <input type="password" class="form-control" id="l-password-field" placeholder="Enter Password" required>
                </div>
                <div class="d-flex">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="l-remember-me">
                        <label class="form-check-label" for="l-remember-me">Remember Me</label>
                    </div>
                    <a class="already-have-account ms-auto link-secondary" href="#" id="switch-to-register">Don't have an account?</a>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <p id="l-response-message" class="animate__animated mt-3 mb-0 text-warning"></p>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    const loginForm = document.getElementById("login-form")
    const loginMessage = document.getElementById("l-response-message")
    const loginBlock = document.getElementById("account-login-placeholder")
    
    loginForm.addEventListener("submit", async function(e) {
        e.preventDefault();
        loginBlock.classList.add("uninteractable")
        loginFormPending("Sending your request, please wait.")
        let username = document.getElementById("l-username-field").value
        let password = document.getElementById("l-password-field").value
        let res = await fetch("/login", {
            headers: {
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify({
                username, password,
                remember: document.getElementById("l-remember-me").checked
            })
        })
        if (!res.ok) { // Register request fails
            let json = await res.json()
            loginFormError(json.msg)
        } else { // Register request succeeds
            let json = await res.json()
            location.reload()
        }
        loginBlock.classList.remove("uninteractable")
    });

    function loginFormPending(message) {
        loginMessage.style.display = "block"
        loginMessage.classList.remove("animate__fadeOut", "text-danger")
        loginMessage.classList.add("animate__fadeIn", "text-warning")
        loginMessage.textContent = message
        setTimeout(() => {
            loginMessage.classList.add("animate__fadeOut")
            loginMessage.classList.remove("animate__fadeIn")
        }, 2500)
        setTimeout(() => {
            loginMessage.style.display = "none"
        }, 3250)
    }

    function loginFormError(message) {
        loginMessage.style.display = "block"
        loginMessage.classList.remove("animate__fadeOut", "text-warning")
        loginMessage.classList.add("animate__fadeIn", "text-danger")
        loginMessage.textContent = message
        setTimeout(() => {
            loginMessage.classList.add("animate__fadeOut")
            loginMessage.classList.remove("animate__fadeIn")
        }, 2500)
        setTimeout(() => {
            loginMessage.style.display = "none"
        }, 3250)
    }

    function closeLoginForm() {
        $("#account-login-placeholder").fadeOut(400)
        $("#account-hover-block").fadeOut(400)
        document.getElementById("login-block").classList.add("uninteractable")
        setTimeout(() => {
            document.getElementById("login-block").classList.remove("uninteractable")
            $("#account-hover-block").hide()
            $("#page-content").removeClass("uninteractable")
        }, 400)
    }
</script>
<script defer>
    const switchToRegister = document.getElementById("switch-to-register")
    switchToRegister.onclick = function() {
        registerBlock.classList.add("uninteractable")
        loginBlock.classList.add("animate__fadeOut")
        setTimeout(() => {
            loginBlock.classList.remove("uninteractable")
            registerBlock.classList.remove("uninteractable")
            loginBlock.style.display = "none";
            document.getElementById("account-register-placeholder").classList.remove("animate__fadeOut")
            document.getElementById("account-register-placeholder").style.display = "block";
            document.getElementById("account-register-placeholder").classList.add("animate__fadeIn")
        }, 600)
        return false
    }
</script>